.card-detail {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease-in-out;
        background: rgb(129, 153, 151);
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset 5px 5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
        mat-card-header {
            mat-card-title {
                margin-top: 15px;
                font-size: 2.5rem;
            }
            mat-card-subtitle {
                text-align: center;
                font-size: larger;
            }
        }
        mat-card-content {
            img {
                display: block;
                max-width: 650px;
            }
        }
        mat-card-actions {
            button {
                margin: 20px 20px;
            }
        }
    }
    mat-card:hover {
        box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.5), inset 5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(255, 255, 255, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.05);
        background: rgb(3, 89, 129);
    }
}