   //layout
   mat-card {
       margin: 1.5rem;
       padding: 1.5rem;
       .box {
           height: 50vh;
           width: 100%;
           text-align: center;
           border: 1px solid black;
           .boxIn1 {
               line-height: 50px;
               border: 1px solid black;
               height: 50px;
               width: 75px;
               background-color: #009688;
           }
           .boxIn2 {
               line-height: 75px;
               border: 1px solid black;
               height: 75px;
               width: 100px;
               background-color: #3949ab;
           }
           .boxIn3 {
               line-height: 75px;
               border: 1px solid black;
               height: 50px;
               width: 75px;
               background-color: #9c27b0;
           }
           .boxIn4 {
               line-height: 75px;
               border: 1px solid black;
               height: 75px;
               width: 75px;
               background-color: #b08752;
           }
           .boxIn5 {
               line-height: 50px;
               border: 1px solid black;
               height: 50px;
               width: 75px;
               background-color: #5ca6b0;
           }
       }
   }
   
   // fxfill
   .boxfxfill {
       height: 80px;
       width: 80%;
   }
   
   .boxA {
       background-color: #009688;
   }
   
   .boxB {
       background-color: #3949ab;
   }
   
   //fxGrap
   .boxfxGap {
       height: 50vh;
       width: 100%;
   }
   
   .boxGrid {
       background-color: #3949ab;
   }
   
   //fxFlex
   .boxfxFlex {
       border: 1px solid black;
       cursor: pointer;
       color: white;
       text-align: center;
       width: 100%;
       height: 300px;
       .fxFlexboxA {
           background-color: #9c27b0;
       }
       .fxFlexboxB {
           background-color: #3949ab;
       }
       .fxFlexboxC {
           background-color: #009688;
       }
       .fxwrapA {
           background-color: #009688;
       }
       .fxwrapB {
           background-color: #3949ab;
       }
       .fxwrapC {
           background-color: #9c27b0;
       }
       .fxwrapD {
           background-color: #8bc34a;
       }
       .fxwrapE {
           background-color: #03a9f4;
       }
       .fxwrapF {
           background-color: #c9954e;
       }
       .fxwrapG {
           background-color: #ff5722;
       }
   }