mat-grid-tile {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/image/brooke-lark-wMzx2nBdeng-unsplash.jpg');
    user-select: none;
}

mat-hint {
    color: #f44336;
}

#Height404 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    line-height: normal;
    min-width: 500px;
    min-height: 800px;
    h1 {
        strong {
            color: brown;
            font-weight: 800;
            font-size: 6rem;
        }
        color:blue;
        font-weight: 700;
        line-height: 1em;
        font-size: 5rem;
    }
    h2 {
        color: red;
        font-weight: 800;
        font-size: 2rem;
    }
    h5 {
        color: #eee;
        background: rgb(108, 126, 223);
        font-weight: 650;
        line-height: 100px;
        min-width: 1000px;
        min-height: 100px;
        display: inline-block;
        font-size: 3.5em;
    }
    .content {
        width: 400px;
        p {
            color: #fff;
            font-size: 1.2em;
        }
    }
}

.login {
    height: 50px;
    font-size: 2rem;
    margin: 20px;
    width: 50%;
    font-weight: 600;
    background-color: rgb(57, 202, 221);
    color: rgb(19, 22, 204);
}

.login:focus {
    outline: none;
}

.signIn {
    height: 50px;
    margin: 10px;
    width: 50%;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(230, 142, 29);
    color: rgb(214, 228, 29);
}

.signIn:focus {
    outline: none;
}

.googleLogin {
    height: 50px;
    font-size: 2rem;
    margin: 30px;
    width: 50%;
    font-weight: 600;
    background-color: rgb(141, 18, 34);
    color: rgb(224, 75, 75);
}

.googleLogin:focus {
    outline: none;
}

.mat-form-field {
    width: 50%;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    #Height404 {
        box-shadow: 0 7.5px 15px rgba(0, 0, 0, .5);
        min-width: 250px;
        min-height: 400px;
        h1 {
            strong {
                font-weight: 800;
                font-size: 3rem;
            }
            line-height: 0.5em;
            font-size: 2.5rem;
        }
        h2 {
            font-weight: 800;
            font-size: 1rem;
        }
        h5 {
            font-weight: 650;
            line-height: 50px;
            min-width: 500px;
            min-height: 50px;
            font-size: 1.75em;
        }
        .content {
            width: 200px;
            p {
                font-size: 0.6em;
            }
        }
    }
    .login {
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        margin: 10px;
    }
    .signIn {
        height: 25px;
        line-height: 25px;
        margin: 5px;
        font-size: 1rem;
    }
    .googleLogin {
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        margin: 15px;
    }
    .mat-form-field {
        margin-top: 10px;
    }
}