<div class="list-group-item " *ngIf="productItems.length===0">
    <li class="d-flex justify-content-between align-items-center">
        No product to sell
    </li>
</div>
<div class="list-group-item" *ngIf='productItems.length>0'>
    <!-- let listItem of listItems -->
    <div *ngFor="let item of productItems">
        <li class="d-flex justify-content-between align-items-center">
            {{item.productId}}
            <span class="badge badge-primary badge-pill">{{item.productPrice}}</span>
        </li>
    </div>

</div>
