<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="logo">
            <button mat-flat-button color="primary" [routerLink]="['/home']"><mat-icon>flutter_dash</mat-icon>VincentBlog</button>
        </div>
        <div class="nav">
            <button mat-flat-button color="primary" [routerLink]="['/product']"><mat-icon>home</mat-icon>product </button>
            <button mat-flat-button color="primary" [routerLink]="['/post']"><mat-icon>article</mat-icon>Post </button>
            <button mat-flat-button color="primary" [routerLink]="['/login']"><mat-icon>account_circle</mat-icon>Login</button>
        </div>

        <mat-icon class="menu">dehaze</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>