@import '../../../app.component.scss';
.roomlist {
    @include Gird;
    .chatbox {
        grid-area: span 1/2;
        background: linear-gradient(90deg, rgba(104, 128, 123, 1) 2%, rgba(165, 176, 236, 1) 24%, rgba(77, 114, 117, 0.9752275910364145) 84%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        position: relative;
        height: 800px;
        width: 1200px;
        background-color: burlywood;
        h1 {
            position: absolute;
            top: 5%;
            align-self: center;
            margin-top: 20px;
            font-size: 50px;
            font-weight: 800;
            font-style: italic;
            color: white;
        }
        h3 {
            position: absolute;
            top: 40%;
            margin-top: 50px;
            align-self: center;
            font-size: 30px;
            font-weight: 500;
            font-style: normal;
            color: white;
        }
        input {
            position: absolute;
            top: 50%;
            margin-top: 80px;
            text-align: center;
            align-self: center;
            line-height: normal;
            width: 600px;
            height: 50px;
            font-size: 45px;
            box-shadow: yellow;
            outline-style: ridge;
        }
        button {
            position: absolute;
            top: 80%;
            margin-top: 50px;
            align-self: center;
            font-size: 25px;
            font-weight: 650;
            width: 400px;
            height: 50px;
            background-color: white;
            color: rgb(8, 6, 6);
        }
    }
}

@media only screen and (max-width: 600px) {
    .roomlist {
        @include MdGird;
        .chatbox {
            grid-area: 2/2/2/2;
            width: 100vw;
        }
        .card {
            height: 300px;
            max-width: 400px;
            h1 {
                margin-top: 10px;
                font-size: 25px;
            }
            h3 {
                margin-top: 15px;
                font-size: 15px;
            }
            input {
                margin-top: 40px;
                width: 300px;
                height: 25px;
                font-size: 22.5px;
            }
            button {
                margin-top: 20px;
                font-size: 12.5px;
                width: 200px;
                height: 25px;
            }
        }
    }
}