@mixin Gird {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

@mixin MdGird {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
}

@mixin FlexCCC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin FlexCCS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}