<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary">
    <button mat-flat-button color="primary" fxFlex="10%" routerLink="/home">FakerProduct</button>
    <button mat-flat-button color="primary" fxFlex="5%" routerLink="/product">product</button>
    <button mat-flat-button color="primary" fxFlex="5%" routerLink="/about">about</button>
    <button mat-flat-button color="primary" fxFlex="5%" routerLink="/cart">cart</button>
    <span fxFlex></span>
    <button mat-flat-button color="primary" fxFlex="3%" routerLink="/signIn">
   <mat-icon>login</mat-icon>
 </button>
</mat-toolbar>