<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="logo">
            <mat-icon>flutter_dash</mat-icon><span>VincentBlog</span>
        </div>
        <div class="nav">
            <button mat-flat-button color="primary" [routerLink]="['/home']" routerLinkActive="router-link-active"><mat-icon>home</mat-icon>Home </button>
            <button mat-flat-button color="primary" [routerLink]="['/post']" routerLinkActive="router-link-active"><mat-icon>article</mat-icon>Post </button>
        </div>

        <mat-icon class="menu">dehaze</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>