<div class="login">
    <ng-container *ngIf="SignUp; else Sign">
        <mat-card>
            <span>登入</span>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button>login</button>
        </mat-card>
    </ng-container>
    <ng-template #Sign>
        <mat-card>
            <span>登入</span>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button>login</button>
            <button mat-raised-button (click)="GoSignUp()">Go Sign Up</button>
        </mat-card>
    </ng-template>
</div>