<div class="home">
    <h1 fxLayout="row" fxLayoutAlign="center start">Layout Domos: by vincent</h1>
    <p fxLayout="row" fxLayoutAlign="center start">pratice fx-layout </p>
    <div fxLayout="row" fxLayoutAlign="space-around start">
        <button mat-raised-button routerLink="static" color="primary">fxLayout</button>
        <button mat-raised-button routerLink="grid" color="primary">Grids</button>
        <button mat-raised-button routerLink="responsive" color="primary">Responsive</button>
        <button mat-raised-button routerLink="github" color="primary">Github</button>
        <button mat-raised-button routerLink="stackoverflow" color="primary">StackOverflow</button>
    </div>
    <router-outlet></router-outlet>
</div>