<div class="home">
    <div class="thankcard">
        <h1 unselectable="on">感謝您的購買</h1>
        <h1 unselectable="on">歡迎下次再來</h1>
        <button mat-button (click)='goBack()'>回首頁</button>
    </div>
    <div class="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
        <img src="../../../assets/Coventicimages/bubble.png" alt="bubble">
    </div>
</div>