<div class="dashboard">
    <div class="dashbord-card">
        <h1>食在美味</h1>
        <mat-tab-group animationDuration="500ms">
            <mat-tab label="食材">
                <mat-card>
                    <p>重視魚材的事前處理，並依據當季的食材，分別以昆布、鹽及醋醃漬來引出鮮美的滋味，再配合良好的刀工，自然能品嘗到食物最優質的美味。</p>
                </mat-card>
            </mat-tab>
            <mat-tab label="價位">
                <mat-card>
                    <p>菜單上各種價位的選擇都有，大家最推薦的就是定食套餐，最便宜只要150元讓你吃飽飽，我認為cp值蠻高的
                    </p>
                </mat-card>
            </mat-tab>
            <mat-tab label="外送">
                <mat-card>
                    <p>所有時段皆可提前10分鐘預約。 餐點準備好，外送員將在服務範圍內快速送達。</p>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-foods></app-foods>
<app-about></app-about>
<app-footer></app-footer>