<div class="jumbotron jumbotronvh row text-center">
    <div class="col-12 align-self-center">
        <h1 class="display-4 mt-5 mb-5">Hello, client</h1>
        <p class="lead mb-5">This is a simple shoppingCart, a simple demo the product is for swimmer all information is fake.</p>

        <p>welcome to me shoppingCart.</p>
        <a class="btn btn-primary btn-lg mt-5" href="#" role="button">{{" go shopping "| uppercase }}</a>

    </div>
    <div class="col-12 align-items-end">
    </div>

</div>
